/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --mobile-version-max-width: 668px;
  --vw-and-mob-max-w-diff: (100vw - var(--mobile-version-max-width));
  --main-font-family: "IBM Plex mono", sans-serif;
  --focus-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --focus-line-height-mobile: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  --focus-font-size-not-mobile: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --focus-line-height-not-mobile: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
}